// 颜色
$accentColor = #27ae60
$activeColor = #e74c3c

// 浅色模式
.theme-mode-light
  --textColor: #2c3e50
  --textLightenColor: #2ecc71

// 深色模式
.theme-mode-dark
  --textColor: #e1e1eb
  --textLightenColor: #2ecc71

$tagColor = #e1e1eb
